@import url('https://fonts.googleapis.com/css?family=Corben|Karla|Nunito|Patua+One');

body {
    background-image: url("../images/topography.png");
}

#search-parameters {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: white;
}
.search-title, .schedule-title {
    background-color: darkgray;
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid lightgray;
}

#show-form {
    padding: 15px;
}

h6 {
    font-weight: bold;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Patua One', cursive;
}

.jumbotron {
    background-image: url("../images/hogwart-express.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.schedule-title {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
}
